.toppencils {

  padding: 40px;
  margin: 40px;
  border-color: tomato crimson;
  border-style: outset;
  font-family: 'Share Tech Mono', monospace;
  font-style: italic;
  background-image: url("https://i.pinimg.com/originals/79/af/e1/79afe1c9c44078602894a8613d06f201.gif")
  }
